body, html {
  color: #fff;
  text-align: center;
  line-height: 1.75;
}
.white {
  color: #444444;
  background-color: #fff;
}
.clean {
  color: #444444;
  background-color: #cccccc;
}
.mole {
  color: #fff;
  background-color: #444444;
}
.main-section {
  height: 100vh;
}
section {
  /*height: 30em;*/
  padding-top: 2em;
  padding-bottom: 2em;
}
p {
  color: #888888;
}
.mini-hr {
  width: 40px;
}
.service {
  background-color: white;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
}

.rate-wrapper{
background-color: #cccccc;
padding: 3px;
width: 15em;
margin: 0 auto;
margin-top: 1em;
margin-bottom: 1em;
}

.rate{
background-color: white;
padding-top: 1.5em;
margin: 3px;
height: 170px;
}

.img-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.inline {
  display: inline;
}

.query{
  background-color: #cccccc;
  height: 35px;
  margin: 0 auto;
  border-radius: 3px;
  padding-top: 5px;
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);

}

.medium-width{
  width: 70%;
}
/* Larger than mobile */

@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}

/* Larger than tablet */

@media (min-width: 750px) {}

/* Larger than desktop */

@media (min-width: 1000px) {}

/* Larger than Desktop HD */

@media (min-width: 1200px) {}
